*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background: linear-gradient(rgb(47,150,163),rgb(48,62,143));
	font-family: Poppins,sans-serif;
	color: white;
}
.wrapper{
	border: 2px solid #fff;
	border-radius: 30px;
	padding: 60px;
	background: linear-gradient(#4568dc,#b06ab3);
}
.input{
	margin: 10px 20px;
	background: #2f3640;
	height: 60px;
	border-radius: 40px;
	padding: 10px;
	justify-content: center;
	align-items: center;
}

.button{
	color: #fff;
	float: right;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin: 0 auto;
	background: pink;
	display: flex;
	justify-content: center;
	align-items: center;
}
.inputvalue{
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: white;
	font-size: 17px;
	transition: 0.4s;
	line-height: 40px;
	width: 0;
}
.input:hover > .inputvalue{
	width: 240px;
	padding: 0 20px;
	padding-bottom: 15px;
	float: left;
}

.location,.temperature{
	height: 30vh;
	width:100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #43c6ac;
}

.temperature{
	flex-direction: column;
	background-color: #1d976c;
	width:100%;
}
.temperature-description{
	font-size: 20px;
	text-transform: uppercase;
	background-color: #1f1c2c;
	width:100%;
	text-align: center;
}

.degree-section{
	display: flex;
	align-items: center;
	cursor: pointer;
}
.degree-section span{
	margin: 10px;
	font-size: 30px;
}
.degree-section h2{
	font-size: 40px;
	font-weight: lighter;
}

footer{
	margin-top: 100px;
	background-color: #dd5e89;
	padding-left: 20px;
}
footer h3{
	font-family: Bradley Hans,cursive;
	font-size: 20px;
	font-weight: lighter;
}

@media screen and (max-width:1400px){
	.wrapper{
		width:100%;
	}

}
